---
import { Image } from 'astro:assets'
import netherrack from '../assets/netherrack.png'
import grassBlock from '../assets/grassblock.png'
---

<div id="coordinates">
    <div id="overworld"> 
        <div class="header">
            <Image src={grassBlock} alt="Grass Block" />
            <h1>Overworld</h1>
        </div>
        <div class="coords">
            <span class="x coord">Overworld X</span>
            <span class="z coord">Overworld Z</span>
        </div>
    </div>
    <div id="nether">
        <div class="header">
            <Image src={netherrack} alt="Netherrack" />
            <h1>Nether</h1>
        </div>
        <div class="coords">
            <span class="x coord">Nether X</span>
            <span class="z coord">Nether Z</span>
        </div>
    </div>
</div>

<script>
import { effect } from 'nanostores';
import { convertedCoords, coords, Dimension, dimension, type Coords } from '../portal.ts';

const netherContainer = document.getElementById('nether') as HTMLDivElement;
const overworldContainer = document.getElementById('overworld') as HTMLDivElement;

function getCoordElements(container: HTMLDivElement) {
    const xElem = container.querySelector('.x') as HTMLSpanElement;
    const zElem = container.querySelector('.z') as HTMLSpanElement;
    return { xElem, zElem };
}

const setCoords = (container: HTMLDivElement, coords: Coords | undefined) => {
    const { xElem: xCoord, zElem: zCoord } = getCoordElements(container)
    xCoord.textContent = `X: ${coords?.x ?? '-'}`;
    zCoord.textContent = `Z: ${coords?.z ?? '-'}`;
};

effect([convertedCoords, coords, dimension], (convertedCoords, coords, dimension) => {
    switch (dimension) {
        case Dimension.Overworld:
            setCoords(overworldContainer, coords);
            setCoords(netherContainer, convertedCoords);
            break;
        case Dimension.Nether:
            setCoords(netherContainer, coords);
            setCoords(overworldContainer, convertedCoords);
            break;
        default:
            setCoords(overworldContainer, undefined);
            setCoords(netherContainer, undefined);
    }
    return () => {
        setCoords(overworldContainer, undefined);
        setCoords(netherContainer, undefined);
    };
});
</script>

<style>
    .header {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .header img {
        height: 2em;
        width: auto;
    }

    .header h1 {
        font-size: 24px;
    }

    .coords {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .coord {
        font-family: 'Courier New', Courier, monospace;
        background: rgb(255, 248, 232);
        padding: 4px 8px;
        border-radius: 4px;
        user-select: all;
    }
</style>