---
---

<div id="instructions">
    Press 
    <kbd>F3</kbd>
    +
    <kbd>C</kbd>
    ingame and 
    <kbd>Ctrl</kbd>
    +
    <kbd>V</kbd>
    here.
</div>

<style>
kbd {
    text-shadow: 0 1px 0 #fff;
    color: #222;
    background-color: #f8f9fa;
    border-color: #c8ccd1;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    border-radius: 2px;
    padding: 0.1em 0.4em;
}
</style>