---
import portalIcon from '../assets/portal.webp'
import background from '../assets/background.svg';
import Coordinates from './Coordinates.astro';
import Instructions from './Instructions.astro';
import '../styles/monocraft.css';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">

			<div id="content">
				<section id="header" >
					<a href="/" rel="noreferrer">
						<img src={portalIcon.src} width="48" height="48" alt="Portal Icon" />
						<h1>Nether Portal Helper</h1>
					</a>
				</section>
				<Instructions />
				<Coordinates />
			</div>
		</section>
	</main>
</div>

<script>
import { parseCoords, coords, dimension } from "../portal";

document.addEventListener('paste', (event) => {
	const paste = event.clipboardData!.getData('text');
	const { dimension: parsedDimension, coords: parsedCoords } = parseCoords(paste) || {};
	if (parsedCoords && parsedDimension) {
		coords.set(parsedCoords)
		dimension.set(parsedDimension)
	}
});
</script>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: 'Monocraft';
		height: 100%;
	}

	#content {
		border-image-source: url('/nineslice.png');
		border-image-slice: 4 fill;
		border-image-width: 0.5em;
		border-image-repeat: repeat;
		padding: 1em;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	#header a {
		display: flex;
		margin-bottom: 12px;
		align-items: center;
		text-decoration: none;
		color: inherit;
	}

	h1 {
		font-size: 36px;
		margin: 0;
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
